name: "production-react-template"
services:
  app:
    ports:
      - 5173:5173
    build:
      context: ../../
      dockerfile: docker/prod/dockerfile
      args:
        VITE_BUILD_MODE: prod
    # healthcheck:
    #   test:
    #     [
    #       "CMD-SHELL",
    #       "wget --quiet --tries=1 --spider http://0.0.0.0:5173 || exit 1",
    #     ]
    #   interval: 15s
    #   timeout: 30s
    #   retries: 5
    #   start_period: 30s
    deploy:
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3
        window: 30s
      resources:
        limits:
          memory: 4g
          cpus: 4
