name: "production-react-template"
services:
  app:
    ports:
      - 5173:5173
    build:
      context: ../../
      dockerfile: docker/prod/dockerfile
      args:
        VITE_BUILD_MODE: prod
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 4g
          cpus: 4
