name: discord-notify
run-name: Discord notify - ${{ github.run_number }}
on:
  workflow_run:
    workflows:
      - lint
      - unit-tests
      - integration-tests
      - image-scan
      - registry-push
    types:
      - requested
      - completed

jobs:
  discord-notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send 'In Progress' notification
        if: ${{ github.event.action == 'requested' }}
        uses: appleboy/discord-action@v1.2.0
        with:
          webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID }}
          webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
          color: "#0000FF" # Blue
          message: |
            ⏳ **Workflow Iniciado!**
            - Repositório: ${{ github.repository }}
            - Branch: ${{ github.event.workflow_run.head_branch }}
            - Workflow: ${{ github.event.workflow_run.name }}
            - Link: ${{ github.event.workflow_run.html_url }}

      - name: Send 'Success' notification
        if: ${{ github.event.action == 'completed' && github.event.workflow_run.conclusion == 'success' }}
        uses: appleboy/discord-action@v1.2.0
        with:
          webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID }}
          webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
          color: "#00FF00" # Green
          message: |
            ✅ **Workflow Concluído com Sucesso!**
            - Repositório: ${{ github.repository }}
            - Branch: ${{ github.event.workflow_run.head_branch }}
            - Workflow: ${{ github.event.workflow_run.name }}
            - Link: ${{ github.event.workflow_run.html_url }}

      - name: Send 'Failure' notification
        if: ${{ github.event.action == 'completed' && github.event.workflow_run.conclusion == 'failure' }}
        uses: appleboy/discord-action@v1.2.0
        with:
          webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID }}
          webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
          color: "#FF0000" # Red
          message: |
            ⚠️ **Workflow Falhou!**
            - Repositório: ${{ github.repository }}
            - Branch: ${{ github.event.workflow_run.head_branch }}
            - Workflow: ${{ github.event.workflow_run.name }}
            - Link: ${{ github.event.workflow_run.html_url }}
