name: unit-test
run-name: Unit Test - ${{ github.run_number }}

on:

  workflow_run:
    workflows: ["lint"]
    types:
      - completed

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2.1.2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run unit tests
        run: bun run test:unit
